# Insurance Data Cleaning

This notebook performs data cleaning on an insurance dataset. We will follow these steps:
1. Remove rows with high missing data.
2. Calculate the five-number summary.
3. Impute missing values.
4. Correct or remove outliers.

In [25]:
# Import necessary libraries
import pandas as pd
import numpy as np

## Load Data
Load the insurance dataset from a CSV file.

In [26]:
# Load the dataset
file_path = 'insurance_claims_raw.xlsx'
df = pd.read_excel(file_path)

# Display the first few rows of the dataframe
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48.0,521585,2014-10-17,OH,250/500,1000.0,1406.91,0,466132,...,YES,71610.0,6510.0,13020.0,52080,Saab,92x,2004,Y,NaN
1,228,42.0,342868,2006-06-27,IN,250/500,2000.0,1197.22,5000000,468176,...,?,5070.0,780.0,780.0,3510,Mercedes,E400,2007,Y,NaN
2,134,29.0,687698,2000-09-06,OH,100/300,2000.0,1413.14,5000000,430632,...,NO,34650.0,7700.0,3850.0,23100,Dodge,RAM,2007,N,NaN
3,256,41.0,227811,1990-05-25,IL,250/500,2000.0,1415.74,6000000,608117,...,NO,63400.0,6340.0,6340.0,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44.0,367455,2014-06-06,IL,500/1000,1000.0,1583.91,6000000,610706,...,NO,6500.0,1300.0,650.0,4550,Accura,RSX,2009,N,NaN

## 1. Remove Rows with High Missing Data
Remove rows that have more than 30% missing values.

In [27]:
# Define threshold for dropping rows
threshold = len(df.columns) * 0.5

# Drop rows with missing values exceeding the threshold
df_cleaned = df.dropna(thresh=threshold)

# Check the shape of the dataframe after dropping
df_cleaned.shape

(1000, 40)

## 2. Calculate Five-Number Summary
Generate descriptive statistics for the dataset.

In [28]:
# Calculate five-number summary
five_num_summary = df_cleaned.describe(include='all')

# Display five-number summary
five_num_summary

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
count,1000.000000,998.000000,1000.000000,1000,1000,1000,998.000000,997.000000,1.000000e+03,1000.000000,...,1000,996.000000,999.000000,999.000000,1000.000000,1000,1000,1000.000000,1000,0.0
unique,NaN,NaN,NaN,NaN,3,3,NaN,NaN,NaN,NaN,...,3,NaN,NaN,NaN,NaN,14,39,NaN,2,NaN
top,NaN,NaN,NaN,NaN,OH,250/500,NaN,NaN,NaN,NaN,...,?,NaN,NaN,NaN,NaN,Saab,RAM,NaN,N,NaN
freq,NaN,NaN,NaN,NaN,352,351,NaN,NaN,NaN,NaN,...,343,NaN,NaN,NaN,NaN,80,43,NaN,753,NaN
mean,203.954000,38.962926,546238.648000,2002-02-08 04:40:47.999999872,NaN,NaN,1134.268537,1257.001113,1.101000e+06,501214.488000,...,NaN,52767.469880,7434.944945,7398.628629,37928.950000,NaN,NaN,2005.103000,NaN,NaN
min,0.000000,19.000000,100804.000000,1990-01-08 00:00:00,NaN,NaN,500.000000,433.330000,-1.000000e+06,430104.000000,...,NaN,100.000000,0.000000,0.000000,70.000000,NaN,NaN,1995.000000,NaN,NaN
25%,115.750000,32.000000,335980.250000,1995-09-19 00:00:00,NaN,NaN,500.000000,1090.320000,0.000000e+00,448404.500000,...,NaN,41812.500000,4290.000000,4440.000000,30292.500000,NaN,NaN,2000.000000,NaN,NaN
50%,199.500000,38.000000,533135.000000,2002-04-01 12:00:00,NaN,NaN,1000.000000,1257.830000,0.000000e+00,466445.500000,...,NaN,57935.000000,6780.000000,6750.000000,42100.000000,NaN,NaN,2005.000000,NaN,NaN
75%,276.250000,44.000000,759099.750000,2008-04-21 12:00:00,NaN,NaN,2000.000000,1415.740000,0.000000e+00,603251.000000,...,NaN,70620.000000,11310.000000,10890.000000,50822.500000,NaN,NaN,2010.000000,NaN,NaN
max,479.000000,64.000000,999435.000000,2015-02-22 00:00:00,NaN,NaN,2000.000000,2047.590000,1.000000e+07,620962.000000,...,NaN,114920.000000,21450.000000,23670.000000,79560.000000,NaN,NaN,2015.000000,NaN,NaN
std,115.113174,9.135425,257063.005276,NaN,NaN,NaN,611.251914,244.265051,2.297407e+06,71701.610941,...,NaN,26405.348039,4883.158265,4827.050887,18886.252893,NaN,NaN,6.015861,NaN,NaN

## 3. Impute Missing Values
Impute missing values with the median for numerical columns and the mode for categorical columns.

In [29]:
# Impute missing values
for column in df_cleaned.columns:
    if df_cleaned[column].dtype == 'object':
        # Impute categorical columns with mode
        mode_value = df_cleaned[column].mode()[0]
        df_cleaned[column].fillna(mode_value, inplace=True)
    else:
        # Impute numerical columns with median
        median_value = df_cleaned[column].median()
        df_cleaned[column].fillna(median_value, inplace=True)

# Check for remaining missing values
df_cleaned.isna().sum()

/Users/sibu/development/pycode/llm_dev/.venv/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

months_as_customer                0
age                               0
policy_number                     0
policy_bind_date                  0
policy_state                      0
policy_csl                        0
policy_deductable                 0
policy_annual_premium             0
umbrella_limit                    0
insured_zip                       0
insured_sex                       0
insured_education_level           0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
capital-gains                     0
capital-loss                      0
incident_date                     0
incident_type                     0
collision_type                    0
incident_severity                 0
authorities_contacted             0
incident_state                    0
incident_city                     0
incident_location                 0
incident_hour_of_the_day          0
number_of_vehicles_involved       0
property_damage                   0
bodily_injuries                   0
witnesses                         0
police_report_available           0
total_claim_amount                0
injury_claim                      0
property_claim                    0
vehicle_claim                     0
auto_make                         0
auto_model                        0
auto_year                         0
fraud_reported                    0
_c39                           1000
dtype: int64

## 4. Correct or Remove Outliers
Handle outliers in the numerical columns using the IQR method.

In [30]:
# Function to handle outliers
def handle_outliers(column):
    if df_cleaned[column].dtype != 'object':
        Q1 = df_cleaned[column].quantile(0.25)
        Q3 = df_cleaned[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        # Capping the outliers
        df_cleaned[column] = df_cleaned[column].clip(lower_bound, upper_bound)

# Apply outlier handling
numeric_columns = df_cleaned.select_dtypes(include=['float64', 'int64']).columns
for column in numeric_columns:
    handle_outliers(column)

# Display data after outlier handling
df_cleaned.describe()

,months_as_customer,age,policy_number,policy_bind_date,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,...,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year,_c39
count,1000.000000,1000.000000,1000.000000,1000,1000.000000,1000.000000,1000.0,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,0.0
mean,203.954000,38.955000,546238.648000,2002-02-08 04:40:47.999999872,1134.000000,1257.105976,0.0,501214.488000,25126.100000,-26793.700000,...,11.644000,1.83900,0.992000,1.487000,52786.607500,7434.290000,7390.770000,37928.950000,2005.103000,NaN
min,0.000000,19.000000,100804.000000,1990-01-08 00:00:00,500.000000,602.876250,0.0,430104.000000,0.000000,-111100.000000,...,0.000000,1.00000,0.000000,0.000000,100.000000,0.000000,0.000000,70.000000,1995.000000,NaN
25%,115.750000,32.000000,335980.250000,1995-09-19 00:00:00,500.000000,1090.567500,0.0,448404.500000,0.000000,-51500.000000,...,6.000000,1.00000,0.000000,1.000000,41962.500000,4295.000000,4445.000000,30292.500000,2000.000000,NaN
50%,199.500000,38.000000,533135.000000,2002-04-01 12:00:00,1000.000000,1257.830000,0.0,466445.500000,0.000000,-23250.000000,...,12.000000,1.00000,1.000000,1.000000,57935.000000,6780.000000,6750.000000,42100.000000,2005.000000,NaN
75%,276.250000,44.000000,759099.750000,2008-04-21 12:00:00,2000.000000,1415.695000,0.0,603251.000000,51025.000000,0.000000,...,17.000000,3.00000,2.000000,2.000000,70532.500000,11305.000000,10885.000000,50822.500000,2010.000000,NaN
max,479.000000,62.000000,999435.000000,2015-02-22 00:00:00,2000.000000,1903.386250,0.0,620962.000000,100500.000000,0.000000,...,23.000000,4.00000,2.000000,3.000000,113387.500000,21450.000000,20545.000000,79560.000000,2015.000000,NaN
std,115.113174,9.110652,257063.005276,NaN,610.669237,241.929265,0.0,71701.610941,27872.187708,28104.096686,...,6.951373,1.01888,0.820127,1.111335,26350.879685,4880.757573,4803.497053,18886.252893,6.015861,NaN

## FurtherC leaning

In [31]:
# Mapping function
def map_to_binary(value):
    if value in ['Y', 'YES']:
        return 1
    elif value in ['N', 'NO']:
        return 0
    elif value in [None, '?']:
        return None
    return value  # Leave other values unchanged

In [32]:
# List of columns to map
columns_to_map = ['fraud_reported', 'property_damage', 'police_report_available']

In [33]:
# Apply mapping
for column in columns_to_map:
    df_cleaned[column] = df_cleaned[column].apply(map_to_binary)

In [34]:
df_cleaned.describe()

,months_as_customer,age,policy_number,policy_bind_date,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,...,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year,fraud_reported,_c39
count,1000.000000,1000.000000,1000.000000,1000,1000.000000,1000.000000,1000.0,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,657.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,0.0
mean,203.954000,38.955000,546238.648000,2002-02-08 04:40:47.999999872,1134.000000,1257.105976,0.0,501214.488000,25126.100000,-26793.700000,...,0.992000,1.487000,0.477930,52786.607500,7434.290000,7390.770000,37928.950000,2005.103000,0.247000,NaN
min,0.000000,19.000000,100804.000000,1990-01-08 00:00:00,500.000000,602.876250,0.0,430104.000000,0.000000,-111100.000000,...,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,70.000000,1995.000000,0.000000,NaN
25%,115.750000,32.000000,335980.250000,1995-09-19 00:00:00,500.000000,1090.567500,0.0,448404.500000,0.000000,-51500.000000,...,0.000000,1.000000,0.000000,41962.500000,4295.000000,4445.000000,30292.500000,2000.000000,0.000000,NaN
50%,199.500000,38.000000,533135.000000,2002-04-01 12:00:00,1000.000000,1257.830000,0.0,466445.500000,0.000000,-23250.000000,...,1.000000,1.000000,0.000000,57935.000000,6780.000000,6750.000000,42100.000000,2005.000000,0.000000,NaN
75%,276.250000,44.000000,759099.750000,2008-04-21 12:00:00,2000.000000,1415.695000,0.0,603251.000000,51025.000000,0.000000,...,2.000000,2.000000,1.000000,70532.500000,11305.000000,10885.000000,50822.500000,2010.000000,0.000000,NaN
max,479.000000,62.000000,999435.000000,2015-02-22 00:00:00,2000.000000,1903.386250,0.0,620962.000000,100500.000000,0.000000,...,2.000000,3.000000,1.000000,113387.500000,21450.000000,20545.000000,79560.000000,2015.000000,1.000000,NaN
std,115.113174,9.110652,257063.005276,NaN,610.669237,241.929265,0.0,71701.610941,27872.187708,28104.096686,...,0.820127,1.111335,0.499893,26350.879685,4880.757573,4803.497053,18886.252893,6.015861,0.431483,NaN

In [36]:
# Convert 'age' to integer
df_cleaned['age'] = df_cleaned['age'].astype(int)

In [37]:
# Drop the '_c39' column
df_cleaned.drop(columns=['_c39'], inplace=True)

# Display the modified DataFrame
print("\nModified DataFrame:")
print(df_cleaned)

Modified DataFrame:
     months_as_customer  age  policy_number policy_bind_date policy_state  \
0                   328   48         521585       2014-10-17           OH
1                   228   42         342868       2006-06-27           IN
2                   134   29         687698       2000-09-06           OH
3                   256   41         227811       1990-05-25           IL
4                   228   44         367455       2014-06-06           IL
..                  ...  ...            ...              ...          ...
995                   3   38         941851       1991-07-16           OH
996                 285   41         186934       2014-01-05           IL
997                 130   34         918516       2003-02-17           OH
998                 458   62         533940       2011-11-18           IL
999                 456   60         556080       1996-11-11           OH

    policy_csl  policy_deductable  policy_annual_premium  umbrella_limit  \
0      250/500             1000.0                1406.91               0
1      250/500             2000.0                1197.22               0
2      100/300             2000.0                1413.14               0
3      250/500             2000.0                1415.74               0
4     500/1000             1000.0                1583.91               0
..         ...                ...                    ...             ...
995   500/1000             1000.0                1310.80               0
996    100/300             1000.0                1436.79               0
997    250/500              500.0                1383.49               0
998   500/1000             2000.0                1356.92               0
999    250/500             1000.0                 766.19               0

     insured_zip  ... witnesses police_report_available total_claim_amount  \
0         466132  ...         2                     1.0            71610.0
1         468176  ...         0                     NaN             5070.0
2         430632  ...         3                     0.0            34650.0
3         608117  ...         2                     0.0            63400.0
4         610706  ...         1                     0.0             6500.0
..           ...  ...       ...                     ...                ...
995       431289  ...         1                     NaN            87200.0
996       608177  ...         3                     NaN           108480.0
997       442797  ...         3                     1.0            67500.0
998       441714  ...         1                     1.0            46980.0
999       612260  ...         3                     NaN             5060.0

    injury_claim property_claim  vehicle_claim   auto_make auto_model  \
0         6510.0        13020.0          52080        Saab        92x
1          780.0          780.0           3510    Mercedes       E400
2         7700.0         3850.0          23100       Dodge        RAM
3         6340.0         6340.0          50720   Chevrolet      Tahoe
4         1300.0          650.0           4550      Accura        RSX
..           ...            ...            ...         ...        ...
995      17440.0         8720.0          61040       Honda     Accord
996      18080.0        18080.0          72320  Volkswagen     Passat
997       7500.0         7500.0          52500      Suburu    Impreza
998       5220.0         5220.0          36540        Audi         A5
999        460.0          920.0           3680    Mercedes       E400

    auto_year fraud_reported
0        2004              1
1        2007              1
2        2007              0
3        2014              1
4        2009              0
..        ...            ...
995      2006              0
996      2015              0
997      1996              0
998      1998              0
999      2007              0

[1000 rows x 39 columns]

## Save Cleaned Data
Save the cleaned dataset to a new CSV file.

In [38]:
# Save cleaned data to a new CSV file
output_file_path = 'insurance_claims_cleaned.csv'
df_cleaned.to_csv(output_file_path, index=False)

print("Data cleaning complete. Cleaned data saved to:", output_file_path)

Data cleaning complete. Cleaned data saved to: insurance_claims_cleaned.csv